{% load static %}

<!DOCTYPE html>
<html>
  <body style="background-color:rgb(113, 180, 219);">
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/users/style.css' %}">
</head>

{% block body_block %} 
<h1>Apply Status</h1>
<table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Course</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td>{{student.course}}</td>
      <td>{{data}}</td>
    </tr>
  </table>
  {% if user.is_authenticated %}
    <br><a href="{% url 'dashboard' %}">Back to dashboard</a>
  {% endif %}
{% endblock %}